$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$primaryColor: #f5efff;
$textColor: #a294f9;
$blackColor: #000;
$whiteColor: #fff;

$purple: #733fc8;
$dark: #48556a;
$light: #ffffff;
$dark-text: #333;
