* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Task 1,2 
table {
  background-color: rgb(153, 121, 183);
  border: 1px solid transparent;
  thead {
    tr {
      th {
        text-align: center;
        padding-left: 70px;
      }
    }
  }
  tbody {
    tr {
      .price {
        text-align: center;
        padding-left: 20px;
      }
    }
  }
}
li {
  color: rgb(62, 62, 216);
}
form {
  #address,
  #email,
  #name {
    border: 2px solid rgb(62, 62, 216);
    outline: rgb(62, 62, 216);
  }
}

.red {
  background-color: #eee;
  color: red;
  border: 4px solid red;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-top: 20px;
}

.blue {
  background-color: #eee;
  color: blue;
  border-width: 4px;
  border-style: dashed;
  border-color: red green red green;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-top: 20px;
}

.colors {
  background-color: #eee;
  color: purple;
  border-width: 4px;
  border-style: dotted;
  border-color: red green blue yellow;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-top: 20px;
}
div > p {
  margin-top: 15px;
} */
/* Task 3 
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;

  nav {
    background-color: #999;
    text-align: center;
    padding: 10px 0;

    a {
      margin: 0 15px;
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        background-color: aliceblue;
        color: $blackColor;
      }
    }
  }

  .hero {
    text-align: center;
    padding: 40px 20px;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    h1 {
      margin: 10px 0;
    }

    p {
      color: #666;
    }
  }

  .section {
    background-color: #eaeaea;
    padding: 20px;
    margin: 10px 0;

    h2 {
      margin-bottom: 10px;
    }
  }

  .projects {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;

    .project {
      width: 150px;
      height: 150px;
      background-color: #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
    }
  }

  footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
  }
} */
/* Task 4
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("drew-coffman-1872.jpg");
  background-size: cover;
  .header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: transparent;
      img {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        li {
          a {
            text-decoration: none;
            color: white;
            &:hover {
              color: #ccc;
            }
          }
        }
      }
    }
  }
  .content {
    margin-bottom: 15px;
    height: 100vh;
    text-align: center;
    color: white;
    h1 {
      font-size: 4em;
    }
    p {
      font-size: 1.2em;
    }
    button {
      gap: 30px;
      color: white;
      padding: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .active {
      background-color: rgb(139, 114, 80);
      margin-right: 10px;
      border: none;
    }
    .non-active {
      background-color: transparent;
      border: 2px solid white;
    }
  }
  .our-offer {
    color: white;
    table {
      border: 2px dashed white;
      border-collapse: collapse;
      width: 30%;
      margin: auto;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
      caption {
        margin: 20px 0 20px 0;
        font-size: 2em;
        text-align: center;
        background-color: rgb(222, 178, 112);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
      }
      th,
      td {
        border: 1px dashed white;
        padding: 10px;
      }
    }
  }
  .contact {
    text-align: center;
    padding: 6px;
    background-color: ghostwhite;
    color: $blackColor;
    font-size: 1.2em;
    a {
      text-decoration: none;
      color: $blackColor;
      &:hover {
        color: #333;
      }
    }
  }
}
*/
/* Task 5 
/* Header 
.header {
  position: fixed;
  width: 100%;
  background-color: $primaryColor;
  z-index: 2;
  .container {
    .links {
      ul {
        li {
          a {
            color: $blackColor;
            transition: all 0.3s ease;
            &:hover {
              background-color: $whiteColor;
              color: $textColor;
            }
          }
          &.icon {
            a {
              i {
                font-size: 1.5em;
              }
              &:hover {
                background-color: transparent;
                color: $blackColor;
              }
            }
          }
        }
      }
    }
  }
}
/* Home 
.home {
  background-image: url("/assets/imgs/hero4.png");
  background-size: cover;
  min-height: 600px;
  .container {
    .box {
      position: absolute;
      top: 50%;
      left: 18%;
      transform: translate(-50%, -50%);
      h2 {
        color: $textColor;
      }
      a {
        background-color: $primaryColor;
        color: $textColor;
        margin-left: 80px;
        transition: all 0.3s ease;
        &:hover {
          background-color: $textColor;
          color: $whiteColor;
        }
      }
    }
  }
}
/* Content 
.content {
  .container {
    .box {
      margin-top: 10px;
      border: 1px solid gray;
      padding: 15px;
      h3 {
        font-size: 18px;
        margin-top: 10px;
        padding: 10px;
      }
      .green {
        background-color: #b6f500;
        color: #67ae6e;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
      }
      .blue {
        background-color: #8dd8ff;
        color: #4e71ff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
      }
      .yellow {
        background-color: #fcf259;
        color: #feba17;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
      }
      .purple {
        background-color: #eabde6;
        color: #aa60c8;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }
}
/* Feature 
.feature {
  background-color: #f8fafc;
  .container {
    .item-box {
      background-color: $whiteColor;
      padding: 22px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      img {
        width: 100%;
        height: 160px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }
}
/* Blog 
.blog {
  position: relative;
  background-image: url("/assets/imgs/glass.jpg");
  background-size: cover;
  min-height: 200px;
  .container {
    .text-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $whiteColor;
      p {
        font-size: 18px;
      }
      h2 {
        font-size: 25px;
        span {
          color: #feba17;
        }
      }
      button {
        background-color: $whiteColor;
      }
    }
  }
}
/* Arrival 
.arrival {
  background-color: #f8fafc;
  .container {
    .item-box {
      background-color: $whiteColor;
      padding: 22px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      img {
        width: 100%;
        height: 160px;
      }
      h3 {
        font-size: 18px;
      }
      -webkit-transition: all;
      -moz-transition: all;
      -ms-transition: all;
      -o-transition: all;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
/* Offer 
.offer {
  .container {
    .box {
      position: relative;
      .p-one {
        top: 20%;
      }
      h3 {
        top: 30%;
      }
      .p-two {
        top: 40%;
      }
      button {
        border: 1px solid $whiteColor;
        top: 50%;
        &:hover {
          background-color: #5a827e;
        }
      }
      .p-one,
      h3,
      .p-two,
      button {
        position: absolute;
        color: $whiteColor;
        left: 20px;
      }
    }

    .box-1 {
      background-image: url("/assets/imgs/b17.jpg");
      background-size: cover;
      width: 626px;
      min-height: 344px;
    }
    .box-2 {
      background-image: url("/assets/imgs/b10.jpg");
      background-size: cover;
      width: 626px;
      min-height: 344px;
    }
  }
}
/* Contact 
.contact {
  background-color: $blackColor;
  padding: 10px 0;
  .container {
    .text {
      h3 {
        color: $whiteColor;
      }
      p {
        color: #5a827e;
        span {
          color: #fcf259;
        }
      }
    }
    .form {
      .btn {
        background-color: #5a827e;
        border: none;
      }
    }
  }
}
/* Footer 
.footer {
  .container {
    .row {
      ul {
        li {
          margin-top: 10px;
          a {
            color: black;
            transition: all 0.3s ease;
            &:hover {
              background-color: $textColor;
              color: $whiteColor;
            }
          }
        }
      }
    }
  }
}
*/
/*Task 6*/
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
}
.grid-container .box {
  background-color: #ddd;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  font-size: 14px;
}
.grid-container .box .profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.grid-container .box .profile .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.grid-container .box .profile .name {
  font-weight: bold;
  margin: 0;
}
.grid-container .box .profile .verified {
  font-size: 12px;
  opacity: 0.8;
  margin: 0;
}
.grid-container .box .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.grid-container .box .quote {
  font-size: 12px;
  opacity: 0.9;
}
.grid-container .box1 {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #8e44ad;
}
.grid-container .box2 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #34495e;
}
.grid-container .box3 {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #ccc;
}
.grid-container .box4 {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #ccc;
}
.grid-container .box5 {
  grid-column: span 2;
  grid-row: span 1;
  background-color: black;
}/*# sourceMappingURL=style.css.map */