* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media #{$minSmall} {
    width: 750px;
  }
  @media #{$minMedium} {
    width: 970px;
  }
  @media #{$minLarge} {
    width: 1170px;
  }
}
